
.bdmp2 {
    height: 100vh;
    width: 100%;
    position: relative;
}

.bdmp2 video{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit:initial
}